docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

aws {
    client {
        storageEncryption = 'AES256'
        s3Acl = 'BucketOwnerFullControl'
    }
}

process {
    memory = '16 GB'
    withLabel:ncores {
        cpus = 12
    }
    withLabel:himem {
        memory = '32 GB'
    }
    withLabel:hugemem {
        memory = '128 GB'
    }
    withLabel:pbmm2 {
        container = '125195589298.dkr.ecr.us-east-2.amazonaws.com/cbml-pacbio:v4'
    }
    withLabel:minimap2 {
        container = '125195589298.dkr.ecr.us-east-2.amazonaws.com/cbml-minimap2:v1'
    }
    withLabel:ubuntu {
        container = '125195589298.dkr.ecr.us-east-2.amazonaws.com/cbml-ubuntu:v2'
    }
    withLabel:samtools {
        container = '125195589298.dkr.ecr.us-east-2.amazonaws.com/cbml-bwa-samtools:v3'
    }
    withLabel:samtoolspysam {
        container = '125195589298.dkr.ecr.us-east-2.amazonaws.com/cbml-samtools-pysam:v1'
    }
    withLabel:tidyverse {
        container = '125195589298.dkr.ecr.us-east-2.amazonaws.com/cbml-tidyverse:v1'
    }
    withLabel:biopython {
        container = '125195589298.dkr.ecr.us-east-2.amazonaws.com/cbml-biopython:v2'
    }
    withLabel:pandas {
        container = "125195589298.dkr.ecr.us-east-2.amazonaws.com/cbml-pandas:v1"
    }
    withLabel:varscan {
        container = "125195589298.dkr.ecr.us-east-2.amazonaws.com/cbml-varscan-samtools:v2"
    }
    withLabel:bedtools {
        container = '125195589298.dkr.ecr.us-east-2.amazonaws.com/cbml-bwa-samtools:v3'
    }
    withLabel:pysam {
        container = '125195589298.dkr.ecr.us-east-2.amazonaws.com/cbml-pysam:v2'
    }
    withLabel:lofreq {
        container = '125195589298.dkr.ecr.us-east-2.amazonaws.com/cbml-lofreq:v1'
    }
    withLabel:pacbio {
        container = '125195589298.dkr.ecr.us-east-2.amazonaws.com/cbml-pacbio:v4'
    }
    withLabel:reportrunner {
        container = "125195589298.dkr.ecr.us-east-2.amazonaws.com/cbml-connect-deploy:v1.1.0"
    }
    withName:PairwiseAlignment {
        container = '125195589298.dkr.ecr.us-east-2.amazonaws.com/cbml-emboss:v1'
    }
    withName:ALVIS {
        container = '125195589298.dkr.ecr.us-east-2.amazonaws.com/cbml-alvis:v1'
    }
    withName:FASTQC {
        container = '125195589298.dkr.ecr.us-east-2.amazonaws.com/cbml-fastqc:v1'
    }
    withName:MULTIQC {
        container = '125195589298.dkr.ecr.us-east-2.amazonaws.com/cbml-multiqc:v1'
    }
    withName:FormMetrics {
        container = "125195589298.dkr.ecr.us-east-2.amazonaws.com/cbml-readmetrics:v4"
    }
    withName:REPORT {
        container = "125195589298.dkr.ecr.us-east-2.amazonaws.com/cbml-connect-deploy:v1.0.0"
    }
    withName:FinalizeOutputs {
        container = '125195589298.dkr.ecr.us-east-2.amazonaws.com/cbml-ubuntu:v2'
    }
}
